<!doctype html>
<html>
<head>
  <meta charset ="utf-8">
  <title>Language Codes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href={{url_for("static",filename="css/bootstrap.min.css")}} rel="stylesheet">
  <link href="{{url_for('static',filename='css/bootstrap-responsive.css')}}" rel="stylesheet">
  <link href={{url_for("static",filename="img6.jpg")}} rel="shortcut icon">
</head>
<body>
	<header>
    <nav>
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
            <img src="{{url_for('static',filename='img6.jpg')}}"> Online IDE</a>
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                {% if  flag %}
                <li class="divider-vertical"></li>
                <li><a href="/">Home</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/api/docs">API</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/register">New User</a></li>
                <li class="divider-vertical"></li>
                <li><a href='/login'>Signin</a></li>
                <li class="divider-vertical"></li>
                {% else %}
                <li class="divider-vertical"></li>
                <li><a href="/users/{{username}}">Dashboard</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/api/docs">API</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/users/{{username}}/onlineide">New Code</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/logout">LOGOUT</a></li>
                <li class="divider-vertical"></li>
                {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="container" style="padding: 10px 0px 0px 0px">
  	<h3>Language Codes</h3>
  	<table class="table table-bordered">
  		<col width="10">
  		<col width="20">
  		<col width="10">
  		<thead>
  			<tr>
  				<th>#</th>
  				<th>Language</th>
  				<th>Language Codes</th>
  			</tr>
  		</thead>
  		<tbody>
  			{% for row in data %}
  				<tr>
  					{% for column in row %}
  						<td>
  							{{column}}
  						</td>
  					{% endfor %}
  				</tr>
  			{% endfor %}
  		</tbody>
  	</table>
  </div>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
